@import "tailwindcss";


:root {
    --bg: rgba(241, 246, 250, 0.96);
    --text: rgb(0, 0, 0);
}

html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 56px;
}

body {
    color: var(--text);
    background: var(--bg);
}